<!DOCTYPE html>

<html lang="en">

<head>
    <title>[vanilla] pm</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/vanilla.css">
    <script defer src="/js/vanilla.js"></script>
</head>

<body>
    <div class="main">
        <div class="new-task-form">
            <label>Create a new task: </label>
            <input id="new-task-input" onkeyup="handleNewTaskInput(event)">
        </div>

        <div class="tasks-list" id="tasks-list">

        </div>
    </div>
</body>

</html>
