div {
    padding: 15px;
}

h2 {
    margin-top: 0;
}

select {
    margin-bottom: 0;
}

div + div {
    margin-top: 15px;
}

.status-pending {
    background-color: #A9CAEF;
}

.status-completed {
    background-color: #BFDF7F;
    opacity: 50%;
}

.status-blocked {
    background-color: orange;
}

.status-obsolete {
    background-color: #F0F0F0;
    opacity: 50%;
}

.status-nonblocking {
    background-color: #F0F0F0;
}

.status-failed {
    background-color: #EC6484;
    opacity: 50%;
}

  label, input {
    display: inline-block;
  }

  main {
    width: 62rem;
    margin: 0 auto;
  }

  label {
    margin-right: 5px;
  }

  .new-task-form {
    text-align: center;
  }

  .message {
    font-size: 24px;
    text-align: center;
  }

  .main {
    width: 62rem;
    margin: 0 auto;
  }